@model IEnumerable<Proje.Models.Anime>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.animeTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.animePoster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.animeRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.animeEpisodes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.animeStartYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.animeEndYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.animeStory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.animeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animePoster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animeRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animeEpisodes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animeStartYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animeEndYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animeStory)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.animeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.animeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.animeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
