@model IEnumerable<Proje.Models.AnimeUser>

<style>
	.Form1 {
		background-color: #222831;
		border-radius: 5px;
		padding: 7px 7px;
		padding-inline: 3% 3%;
		color: #EEEEEE;
	}

	.btn-info {
		border-block-color: #00ADB5;
		background-color: #00ADB5;
	}

	.list-box {
		-webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
		box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
		border-radius: 10px;
		padding: 20px 35px;
	}

	table {
		border-collapse: separate;
		border-spacing: 0 15px;
		vertical-align: middle;
		padding-inline: 5% 5%;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		font-weight: bold;
		font-size: 24px;
	}

	.pl {
		text-align: left;
		padding-inline-start: 20%;
	}

	table td {
		vertical-align: middle;
	}

	.img-card {
		background: #ffffff;
		box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
		width: 100%;
		max-width: 150px;
		margin: 2em;
		border-radius: 10px;
		display: inline-block;
	}

		.img-card:hover {
			-webkit-transform: scale(1.03);
			transform: scale(1.03);
			box-shadow: 0px 10px 25px rgba(100, 100, 100, 0.6);
		}

	.fa-star {
		color: #D5AB55;
	}

	.delete {
		color: red;
	}

		.delete:hover {
			color: darkred;
		}

	.title {
		text-decoration: none;
		color: black;
	}

		.title:hover {
			color: darkslategray
		}
</style>


<div>
	<form method="get" asp-action="MyAnimeList" id="Form" class="form-inline Form1">
		<div class="row">
			<div class="col input-group">
				<label class="col-sm-2 col-form-label">Sort By:</label>
				<div class="input-group-append">
					<select id="sortBy" name="sortBy" class="form-select" width=100%>
						<option selected value="">Please select an option</option>
						<option value="title">Title</option>
						<option value="year">Most recent</option>
						<option value="rating">Rating</option>
						<option value="episodes">Number of episodes</option>
						<option value="planToWatch">Plan to Watch</option>
						<option value="completed">Completed</option>
						<option value="watching">Watching</option>
					</select>
				</div>
			</div>
			<div class="col"></div>
			<div class="col input-group ">
				<input type="text" class="form-control" name="search" autocomplete="off">
				<div class="input-group-append">
					<button class="btn btn-info" type="submit" value="Search">Search</button>
				</div>
			</div>
	</form>
</div>




<table class="table">
	<tbody>
		@foreach (var item in Model)
		{
			<tr class="list-box">
				<td width="30%">
					<a asp-action="Details" asp-route-id="@item.animeId"><img src="@item.anime.animePoster" class="img-card" asp-append-version="true"></a>
				</td>
				<td class="pl ">
					<a asp-action="Details" asp-route-id="@item.animeId" class="title">@Html.DisplayFor(modelItem => item.anime.animeTitle)</a>
				</td>
				<td class="text-left">
					<i class="fa-solid fa-star"></i>
					@Html.DisplayFor(modelItem => item.userRating)
				</td>
				<td class="text-left">
					
					@Html.DisplayFor(modelItem => item.watchStatus)
				</td>

				<td>
					<a asp-action="deleteAnime" asp-route-animeId="@item.animeId" asp-route-userId="@item.userId" class="delete">Delete</a>
					<a asp-action="editAnime" asp-route-animeId="@item.animeId">Edit</a>
				</td>
			</tr>
		}
	</tbody>

</table>

@section Scripts {
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>
		$("#sortBy").on('change', function () {
			document.forms["Form"].submit();
		});
	</script>
    }
