@model Proje.Models.TvShow

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TvShow</h4>
    <hr />
    <dl class="row mb-2">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.showTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.showTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.showPoster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.showPoster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.showStartYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.showStartYear)
        </dd>
        <dt class = "col-sm-2">
            End Year
        </dt>
        <dd class = "col-sm-10">
            	@if (ViewData["endYear"] != null)
			{
				<span>@ViewData["endYear"]</span>
			}
			else
			{
				@Html.DisplayFor(model => model.showEndYear)
			}
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.showEpisodes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.showEpisodes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.showRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.showRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.showStory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.showStory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.showCategories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.showCategories)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="showId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
