@model Proje.Models.TvShow

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TvShow</h4>
    <hr />
    <dl class="row mb-2">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.showTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.showTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.showPoster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.showPoster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.showStartYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.showStartYear)
        </dd>
        <dt class = "col-sm-2">
            End Year
        </dt>
        <dd class = "col-sm-10">
            @if (ViewData["endYear"] != null)
            {
                <span>@ViewData["endYear"]</span>
            }
            else
            {
                @Html.DisplayFor(model => model.showEndYear)
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.showEpisodes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.showEpisodes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.showRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.showRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.showStory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.showStory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.showCategories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.showCategories)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.showId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
