@model IEnumerable<Proje.Models.TvShow>

@{
    ViewData["Title"] = "Index";
}

<h1>Tv Shows</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get" asp-action="Index" id="Form" class="form-inline">
    <div class="row">
        <div class="col input-group">
            <label class="col-sm-2 col-form-label">Sort By:  </label>
            <div class="input-group-append">
                <select id="sortBy" name="sortBy" class="form-select">
                    <option selected value="">Please select an option</option>
                    <option value="title">Title</option>
                    <option value="year">Most recent</option>
                    <option value="rating">Rating</option>
                    <option value="episodes">Episdoes</option>
                </select>
            </div>


        </div>
        <div class="col"></div>
        <div class="col input-group ">
            <input type="text" class="form-control" name="search" autocomplete="off">
            <div class="input-group-append">
                <button class="btn btn-info" type="submit" value="Search">Search</button>
            </div>

        </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.showTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.showRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.showPoster" height="150" width="100" asp-append-version="true">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.showTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.showRating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.showId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.showId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.showId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $("#sortBy").on('change', function () {
            document.forms["Form"].submit();
        });
    </script>
    }
