@using Proje.ViewModel;
@model LoginVM;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@if (TempData["success"] != null)
{
    <div class="col-md-12 alert alert-success text-center">
        <span>@TempData["success"] </span>
    </div>
}

@*
@if (TempData["Error"] != null)
{
    <div class="col-md-12 alert alert-danger text-center">
        <span>@TempData["Error"] </span>
    </div>
}
*@


<style>
    .box {
		background-color: #f2f3f4;
		-webkit-box-shadow: 0 0 40px 0 rgba(20, 20, 20, 0.4);
		display:table;
		box-shadow: 0 0 40px 0 rgba(20, 20, 20, 0.4);
		border-radius: 10px;
		padding: 40px 35px;
		margin:auto;
		margin-top:10%;
		margin-bottom:10%;
	}

	input {
		-webkit-box-shadow: 0 0 40px 0 rgba(255, 255,255,1);
		box-shadow: 0 0 40px 0 rgba(255, 255, 255,1);
		border-radius: 10px;
	}
</style>

<div class="container ">
    <div class="col-md-3 col-md-offset-3 box">
        <div class="text-center mb-5"><h2>@localizer["Sign in"]</h2></div>
        
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-4">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <label asp-for="Password" class="control-label">@localizer["Password"] </label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <label>@localizer["Not a user?"] </label><a asp-action="Register" class="m-lg-2">@localizer["Register"]</a>
                <input class="btn btn-primary float-lg-end" type="submit" value="@localizer["Login"]" />
            </div>
        </form>
    </div>
</div>
